*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#070b20;
    position:relative;
    overflow:hidden;
}

.circulo{
    position:absolute;
    border-radius:50%;
    filter:blur(1px);
}

.circulo1{
    width:280px;
    height:280px;
    background:linear-gradient(
        45deg,
        #c13cff,
        white
    );
    top:-60px;
    left:-60px;
}

.circulo2{
    width:280px;
    height:280px;
    background:linear-gradient(
        45deg,
        white,
        #d53dff
    );
    bottom:-70px;
    right:-70px;
}

.card{
    width:380px;
    height:230px;
    position:relative;
    transform-style:preserve-3d;
    transition:.8s;
}

.card:hover{
    transform:rotateY(180deg);
}

.frente,
.verso{
    width:100%;
    height:100%;
    position:absolute;
    border-radius:20px;
    padding:22px;
    backdrop-filter:blur(18px);
    background:rgba(255,255,255,.12);
    border:1px solid rgba(255,255,255,.2);
    color:white;
    backface-visibility:hidden;
}

.verso{
    transform:rotateY(180deg);
}

.topo{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:8px;
}

.bola{
    width:22px;
    height:22px;
    border-radius:50%;
}

.vermelha{
    background:#ff2e2e;
}

.amarela{
    background:#fdbb2d;
    margin-left:-12px;
}

.chip{
    width:45px;
    height:32px;
    border-radius:8px;
    background:gold;
}

.numero{
    margin-top:40px;
}

.numero p{
    font-size:13px;
    margin-bottom:8px;
}

.numero h2{
    letter-spacing:2px;
    font-size:26px;
}

.rodape{
    margin-top:35px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.faixa{
    width:100%;
    height:40px;
    background:black;
    margin:18px 0;
}

.codigo{
    display:flex;
    align-items:center;
    margin-bottom:18px;
}

.cvv{
    width:100%;
    height:35px;
    background:white;
    border-radius:6px;
}

.codigo span{
    background:white;
    color:black;
    padding:8px;
    border-radius:4px;
    margin-left:8px;
}

.verso p{
    font-size:12px;
    line-height:18px;
    color:#eee;
}